body {
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7;
}

ul {
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    top: 0px;
}

li {
    display: inline-block;
}

section {
    display: block;
}

h2 {
    font-size: calc(24px + .2vw);
    margin-top: calc(10px + .2vw);
    margin-bottom: calc(10px + .2vw);
}

hr {
    width: 20px;
    margin-top: 0px;
    margin-bottom: calc(26px + .2vw);
}

.header {
    text-align: center;
}

.heading {
    width: 100%;
    height: auto;
    z-index: 10;
}

.container {
    width: 100%;
    overflow: hidden;
}

.nav {
    vertical-align: middle;
    height: 85px;
}

.logo {
    z-index: 10;
    width: 94px;
    height: auto;
    padding: 20px;
}

.bicycle-section-one,
.bicycle-section-two,
.bicycle-section-three,
.bicycle-section-four,
.social-media,
.discoverUs {
    display: block;
    position: relative;
    text-align: center;
    background-color: #f7f7f7;
    font-size: 0;
    width: 100%;
}

.bicycle-section-one p,
.social-media p {
    line-height: 2em;
    padding-bottom: 90px
}

.about-us-icon {
    padding-top: 80px;
    padding-bottom: 10px;
}

.about-us,
.social-media {
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    font-size: 18px;
}

.social-media {
    width: 50vw;
}

.bicycle-section-two .left-section,
.bicycle-section-three .right-section {
    width: 67%;
    min-width: 680px;
    height: auto;
    position: relative;
    display: inline-block;
}

.bicycle-1,
.bicycle-4,
.bicycle-5,
.bicycle-7 {
    width: 100%;
    height: auto;
    min-height: 450px;
}

.bicycle-1-icon,
.bicycle-4-icon {
    position: absolute;
    top: 40%;
    left: 44%;
}

.bicycle-section-two .right-section,
.bicycle-section-three .left-section,
.bicycle-section-four .left-section,
.bicycle-section-four .right-section,
.discoverUs .left-column,
.discoverUs .right-column {
    display: inline-block;
    text-align: center;
    width: 33%;
    min-width: 275px;
    background-color: #fff;
    position: relative;
}

.bicycle-5-icon {
    position: absolute;
    top: 45%;
    left: 28%;
}

.bicycle-section-four .center-section,
.discoverUs .center-column {
    width: 34%;
    display: inline-block;
    position: relative;
}

.bicycle-section-two .right-section p,
.bicycle-section-three .left-section p,
.bicycle-section-four .center-section p {
    /* width: 80%; */
    font-size: calc(13px + .1vw);
    line-height: calc(22px + .2vw);
    margin: 0 auto;
    padding-bottom: calc(24px - 0.2vw);
}

.copy-blurb {
    width: calc(80% + .2vw);
    margin: calc(3 * 1vw) auto;
    /* height: calc(19 * .9vw); */
    min-height: calc(16 * 1vw);
}

.bicycle-section-three .copy-blurb {
    margin: calc(2 * 1.2vw) auto
}

.bicycle-section-four .copy-blurb {
    margin: calc(1 * .8vw) auto;
}

.bicycle-2-icon {
    margin: 0 auto;
    display: block;
    width: calc(2vw + 0.2vw);
    height: auto;
    padding-top: calc(1vw + 0.2vw);
}

.arrow-down {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    margin: 0 auto -20px;
    z-index: 15;
    position: absolute;
    transform: translatex(-50%);
    left: 50%;
}

.bicycle-2,
.bicycle-3 {
    z-index: -10;
    width: 100%;
    max-height: 200px;
}

.bicycle-3-icon {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: auto;
    padding: 30px 0px 0px;
}

.twitter-icon {
    width: 32px;
    height: auto;
    padding: 50px 0 20px;
}

.headline {
    display: block;
}

.carousel-nav {
    padding-bottom: 40px;
}

.discoverUs-1 {
    width: 50%;
    height: auto;
}

.discoverUs-2 {
    width: 100%;
    height: auto;
    display: block;
}

.discoverUs-3 {
    width: 50%;
    height: auto;
}