body,
ul {
    margin: 0px;
    padding: 0px
}

section {
    border-bottom: 1px solid black;
}

li {
    display: inline;
}

.header {
    margin: 0 auto;
    text-align: center;
    background: url("../images/header-bg.png") center no-repeat;
    background-color: transparent;
}