body {
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7
}

ul {
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    top: 0px;
}

li {
    display: inline-block;
}

section {
    display: block;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

hr {
    width: 20px;
    margin-bottom: 40px;
}

.header {
    text-align: center;
}

.heading {
    width: 100%;
    height: auto;
    z-index: -1;
}

.container {
    width: 100%;
    overflow: hidden;
}

.nav {
    vertical-align: middle;
    height: 85px;
}

.logo {
    z-index: 10;
    width: 94px;
    height: auto;
    padding: 20px;
}

.bicycle-section-one,
.bicycle-section-two,
.bicycle-section-three,
.bicycle-section-four {
    display: block;
    position: relative;
    text-align: center;
    background-color: #f7f7f7;
}

.bicycle-section-one p {
    line-height: 2em;
    padding-bottom: 90px
}

.about-us-icon {
    padding-top: 80px;
    padding-bottom: 10px;
}

.about-us {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.bicycle-section-two .left-section,
.bicycle-section-three .right-section {
    width: 65%;
    height: auto;
    position: relative;
    display: inline-block;
}

.bicycle-1,
.bicycle-4 {
    width: 100%;
    height: auto;
}

.bicycle-1-icon,
.bicycle-4-icon {
    position: absolute;
    top: 40%;
    left: 44%;
}

.bicycle-section-two .right-section,
.bicycle-section-three .left-section {
    display: inline-block;
    text-align: center;
    width: 35%;
    margin: -4px;
    background-color: #fff;
    position: relative;
}

.bicycle-section-two .right-section p,
.bicycle-section-three .right-section p {
    width: 80%;
    line-height: 22px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.bicycle-2-icon {
    margin: 0 auto;
    display: block;
    width: 30px;
    height: auto;
    padding: 30px 0px 0px;
}

.arrow-down {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    margin: 0 auto -20px;
    z-index: 15;
    position: absolute;
    transform: translatex(-50%);
    left: 50%;
}

.bicycle-2,
.bicycle-3 {
    z-index: -10;
    width: 100%;
}

.bicyle-3-icon {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: auto;
    padding: 30px 0px 0px;
}

.fourth-section {
    width: 65%;
    height: auto;
    position: relative;
    display: inline-block;
    margin: -4px;
}